@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,400;1,500&display=swap");
/* --general--- */
* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color:black;
    box-sizing: border-box;  
  }
  #pagecontainer {
    position: relative;
    min-height: 100vh;
  }
  body{
    
    background-color:#D6CFC5;
  }
  
   .search-container{
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
   }
   .topnav input[type=text] {
   
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .topnav .search-container button {
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .topnav .search-container button:hover {
    background: #ccc;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  

/* ---nav------ */
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.logo {
  margin-top: 20px;
}
.logo img {
  height: 7vh;
  cursor: pointer;
}
.logo h3 {
  font-size: 25px;
  margin-top: -35px;
  margin-left: 50px;
  cursor: pointer;
}
.nav ul {
    display: flex;
    margin-top: 18px;
}
.nav ul li {
  list-style: none;
  margin-right:20px;
   
}
.nav ul li a {
  text-decoration: none;

}
 
.nav-list{
    list-style: none;
}

.logo h3 {
  font-size: 25px;
  margin-top: -35px;
  margin-left: 50px;
  cursor: pointer;
}
.logo-text{
  font-weight: bolder;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.nav ul li a:hover,
.active {
  color: teal;
  font-weight: bolder;
}
 
/* -----footer----- */
.main-footer{
  height: 200px;
 
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
 .footer-content{
  display: flex;
  justify-content:space-around;  
 }
 .footer-subcolumn-2{
  display: flex;
 }
 .footer-subcolumn-2 li{
  list-style: none;
 }
  .footer-subcolumn-2 li a{
  text-decoration: none;
  
 }
 .footer-subcolumn-2 li a:hover{
  color: teal;
  font-weight: bolder;
 }
 .footer-headings{
  color:black;
  margin-top: 30px;
 }
/* styling homepage */
.homepage{
  display: flex;
  padding: 50px;
  justify-content: space-between;
}
.welcome-text{
  color:rgb(45, 2, 45);
  font-weight: bolder;
}
.sub-welcome-text{
  color:rgb(45, 2, 45);
}
.explore-btn{
  border: none;
  border-radius: 5px;
  background-color: rgb(45, 2, 45);
  color:white;
  padding: 10px;
}
 
.homeimage{
  height: 300px; 
}