@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,400;1,500&display=swap");
/* --general--- */
* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color:black;
    box-sizing: border-box;  
    padding: 0;
  }
html,body{
  height: 100%;
    background-color:  #E7E6DD;
    
}
  
/* ---nav------ */

 .uppernav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
 } 
  
 #menu-outer {
	height: 84px; 
}
.table {
	display: table;    
	margin: 0 auto;
}
ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-left: 295px;
}
ul#horizontal-list li {
		display: inline;
}
ul#horizontal-list li a {
    text-decoration: none;
    color: #000;
}
ul#horizontal-list li a:hover{
 border-bottom: 2px solid orange;
}
.toggle-mode-btn{
  border: none;
  border-radius: 5px;
  color: BLACK;
  padding: 7px;
}
#search-btn{
   border: none;
}
#search-bar{
  border: none;
  background-color: #F0F0F0;
}
 /* styling homepage */
.homepage{
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
  margin-right: 50px;
  padding-top: 10px;
   
}
.welcome-text{
  color:#221E35;
  font-weight: bolder;
}
.sub-welcome-text{
  color:rgb(45, 2, 45);
}
.explore-btn{
  border: none;
  border-radius: 5px;
  background-color:  #221E35;
  color:white;
  padding: 10px;
}

 
.homeimage{
  height: 300px; 
}
 /* newsletter */
  .content-meet{ 
    margin-left: 20px;
    background-color: #D6CFC5;;
  }
  .subscribe{
    margin-left: 20px;
    
  }
  /* deal */
  .deal{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}
 
 
 
/*---CATEGORYSECTION---*/
.browse{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}
.category-section{
  display: flex;
  margin-left: 15px; 
} 
.book-card{
  width: 80%;
  margin-LEFT: 30px;
}
.genre-selector nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.genre-selector li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.genre-selector li a:hover {
  background-color: #555;
  color: white;
}
/* .genre-selector li a.active {
  background-color: #04AA6D;
  color: white;
} */
 
.bookcontent{
  display: flex;
}

 
.book-card:after {
  content: "";
  display: table;
  clear: both;
}
.bok-card{
  float: left;
  width: 25%;
  padding: 10px;
}

 
/* ---FOOTER--- */

.footer-section{
  background-color:#cbcbca;
}
footer{
  display: flex;
  gap: 120px;
}
.footer-links{
  display: flex;
  gap: 10px;
}
.footer-links ul{
  display:table-row;
}
.footer-links li{
  list-style: none;
  
}
.footer-links li a{
  text-decoration: none;
  color: #000;
}
.copyright{
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-top: 1px solid grey;
}
.footericons{
  margin-right: 40px;
  
}
.footericons a{
  display:inline-block;
  margin-right:1em;

}

/* styling newletet */
.quote{
  padding: 30px;
  align-items: center;
}
.quotetext{
  text-align: center;
}
#newsletterinput{
  outline: 0;
  border-width: 0 0 1px;
  background-color: #E7E6DD;
  font-size: smaller;
  border-color:darkgray;
  padding: 15px;
}
.contactform{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

 /* bookcard */
 .book {
  display: inline-block;
    box-shadow: 0 0 5px rgb(205, 202, 202) ;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}
/* star button */
.book:after {
   
  
  position: relative;
  left: -.1cm;
  top: -1.6cm;
  float: right;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.book p {
  margin-top: 10px;
  font-size: 20px;
}

.book .author {
  font-size: 8px;
}
/* Clear floats after the columns */
 .grids{
   display: flex;
  gap:10px;
  margin-right: 40px;
  margin-left: 40px;
 }
 .first-third{
  width: 20%;
 }
 .second-third{
  width: 60%;
 }
 .third-third{
  width: 20%;
 }

 
 
 